
li {
  list-style-type: none;
  color: white;
}

.navigation {

  /* background-image: url("https://i.gifer.com/XyuE.gif"); */
  /* background-size: 70%;
  background-repeat: no-repeat;
  background-position: center; */
  /* height: 300px; */
  color: white;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;
  background-color: black;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

body {
  background-color: #626eda;
  font-family: 'Bangers', cursive;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

/* Homepage Styling */

#home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: normal;
  font-size: 20px;


}

h3 {
  font-weight: normal;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.home-header {
  font-weight: normal;
  background-color: #d93d27;
  color: white;
  text-align: center;
  font-size: 42px;
  padding: 10px;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;

}

.marvel-img {
  width: 100%;
  margin-bottom: 15px;
  
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Login Page Styling */

.login-header {
  font-weight: normal;
  background-color: #d93d27;
  color: white;
  text-align: center;
  font-size: 42px;
  padding: 10px;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;
}

.login-body {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  background-color: #efa53a;
  margin-bottom: 20px;
}

/* Sign Up Styling */

.signup-header {
  font-weight: normal;
  background-color: #d93d27;
  color: white;
  text-align: center;
  font-size: 42px;
  padding: 10px;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;
}

.signup-body {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  background-color: #924f9e;
  margin-bottom: 20px;
}

/* Profile Page Styling */

#profile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: normal;
    font-size: 20px;
}

.profile-body {
  display: flex;
  flex-direction: column;
}

.profile-header {
  font-weight: normal;
  background-color: #d93d27;
  color: white;
  text-align: center;
  font-size: 42px;
  padding: 10px;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;
}

.profile-form {
  background-color: #efa53a;
  border: #924f9e 10px solid;
  border-style: ridge;
  padding: 10px;
  margin-bottom: 10px;
}

.profile-edit {
  background-color: #924f9e;
  border: #efa53a 10px solid;
  border-style: ridge;
  padding: 10px;
}

.edit-form {
  font-size: 25px;
}