.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
  color: white;
}

.navigation {

  background-image: url("https://i.gifer.com/XyuE.gif");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  color: white;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;
  background-color: black;
  font-size: 42px;

}

a {
  text-decoration: none;
}

body {
  background-color: #626eda;
  font-family: 'Bangers', cursive;
}

#home {
  display: flex;
  flex-direction: column;
}

.home-header {
  font-weight: normal;
  background-color: #d93d27;

}
