
li {
  list-style-type: none;
  color: white;
}

.navigation {

  /* background-image: url("https://i.gifer.com/XyuE.gif"); */
  /* background-size: 70%;
  background-repeat: no-repeat;
  background-position: center; */
  /* height: 300px; */
  color: white;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;
  background-color: black;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

body {
  background-color: #626eda;
  font-family: 'Bangers', cursive;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: normal;
  font-size: 20px;


}

h3 {
  font-weight: normal;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.home-header {
  font-weight: normal;
  background-color: #d93d27;
  color: white;
  text-align: center;
  font-size: 42px;
  padding: 10px;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;

}

.marvel-img {
  width: 90%;
  
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  font-weight: normal;
  background-color: #d93d27;
  color: white;
  text-align: center;
  font-size: 42px;
  padding: 10px;
  border: rgb(54, 26, 41) 20px solid;
  border-style: ridge;
}

.login-body {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-image {
  width: 80%;
}

.login-form {
  background-color: #efa53a;
  margin-bottom: 20px;
}